.login-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  min-height: 100dvh;
  background-color: $primary;
  &__left-side {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
